@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Fira Mono'), local('FiraMono'), url(https://fonts.gstatic.com/s/firamono/v4/SlRWfq1zeqXiYWAN-lnG-pBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 700;
  src: local('Fira Mono Bold'), local('FiraMono-Bold'), url(https://fonts.gstatic.com/s/firamono/v4/l24Wph3FsyKAbJ8dfExTZxampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
html {
	font: normal 100%/1.5 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "Helvetica Neue", Arial sans-serif;
	color: #666;
}
body {
	/*max-width: 380px;
	margin: auto;*/
	overflow-x: hidden;
	/* preload background Farley image */
	background: url(https://raw.githubusercontent.com/jefffis/coverlttr/master/public/images/dancing-farley.gif) no-repeat -9999px -9999px;
	padding: 0 0 3rem;
}

html.fonts-loaded, .fonts-loaded body {
	font-family : 'Fira Mono';
}

a {
	color: blue;
	cursor: pointer;
	text-decoration: underline;
}
a:active {
	opacity: .65;
}
@media screen and ( max-width: 600px ) {
	body {
		padding-bottom: 1.5rem;
	}
}

header {
	position: relative;
	background: #111;
	padding: 1rem 1rem .75rem;
	color: white;
}
header a {
	position: absolute;
	top: 1rem;
	right: 1.5rem;
	color: #FCCE14;
	text-decoration: underline;
}

h1 {
	position: relative;
	margin-left: .5rem;
	padding-left: 1.75rem;
	font-size: 20px;
	font-weight: normal;
	line-height: 1.2;
}
h1 span:last-of-type {
	font-weight: bold;
}
h1:before {
	display: inline-block;
	position: absolute;
	/*top: 1px;*/
	left: 0;
	z-index: 2;
	height: 1em;
	width: 1em;
	background: #FCCE14;
	margin-right: .5rem;
	border-radius: 100%;
	/*border-radius: 5px 20px 20px 20px;*/
	content: "";
}
h1:after {
	display: inline-block;
	position: absolute;
	/*top: 1px;*/
	left: .5em;
	z-index: 2;
	height: 1em;
	width: .5em;
	background: #FCF372;
	border-radius: 0 20px 5px 0;
	content: "";
}

@media screen and ( min-width: 600px ) {
	h1 {
		max-width: 10rem;
	    margin: auto;
	}
}

[role=main] {
	margin: auto;
	padding-top: 2rem;
}

@media screen and ( min-width: 601px ) {
	[role=main] {
		max-width: 380px;
	}
}

@media screen and ( max-width: 600px ) {
	p, form, .ender {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
	footer p {
		padding-left: 0;
		padding-right: 0;
	}
}

form {
	padding-bottom: 3rem;
}
label {
	display: block;
}
label:nth-child(n+2) {
	margin-top: 20px;
}
label span {
	display: inline-block;
	min-width: 100px;
	vertical-align: middle;
}
label span:after {
	content: ":";
}
input {
	display: inline-block;
	width: calc(100% - 120px);
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 2px;
	box-shadow: 0 2px 0 #efefef inset;
	font-family: inherit;
	font-size: 16px;
	outline: none;
	vertical-align: middle;

	-webkit-appearance: none;
}
input:focus {
	border-color: currentColor;
	box-shadow: 0 2px 0 #efefef inset, 0 0 0 2px #efefef;
}
p {
	margin-bottom: 2rem;
	/*font-size: 14px;*/
	/*text-align: center;*/
}
.more {
	position: relative;
	color: #111;
}
.more sup {
	text-decoration: none;
}
@media screen and ( max-width: 600px ) {
	input {
		width: 100%;
		margin-top: 5px;
		padding: 10px;
	}
}

[contenteditable] {
	margin-left: -4rem;
	margin-right: -4rem;
	margin-bottom: 3rem;
	padding: 2rem;
	border: 1px solid #ccc;
	/*border-radius: 3px;*/
	box-shadow: 3px 3px 0 #efefef;
	color: #111;
	font-family: Georgia, serif;
	font-size: 19px;
	line-height: 1.6;
	outline: none;
}
[contenteditable]:focus {
	border-color: currentColor;
	box-shadow: 0 2px 0 #efefef inset, 0 0 0 2px #efefef;
}
@media screen and ( max-width: 600px ) {
	[contenteditable] {
		/*margin-left: -1.5rem;
		margin-right: -1.5rem;*/
		margin-left: 0;
		margin-right: 0;
		padding: 2.5rem 1.75rem;
	}
}
@media screen and ( max-width: 500px ) {
	[contenteditable] {
		border-left: 0;
		border-right: 0;
		box-shadow: 0 3px 0 #efefef;
	}
}

b {
	font-weight: normal;
}
/*b:not(:empty) {*/
b{
	background: #FCF372;
	padding: 2px 4px;
}
b:empty:after, .customize:empty:after {
	content: attr(data-blank);
	font-style: italic;
}


.ender {
	text-align: center;
}
.ender span {
	display: inline-block;
	padding: 0 5px;
	color: #999;
	font-style: italic;
}
@media screen and ( max-width: 600px ) {
	.ender span {
		display: block;
		margin: .9rem 0 -.75rem;
	}
}
button {
	display: inline-block;
	position: relative;
	/*float: right;*/
	background: #111;
	margin: auto;
	padding: 15px 20px 13px;
	border-radius: 3px;
	color: white;
	cursor: pointer;
	font-family: inherit;
	font-size: 16px;
}
button:active {
	background: #454545;
	color: rgba(255, 255, 255, 0.75);
}
button:nth-of-type(2) {
	background: white;
	/*margin-left: 1rem;*/
	box-shadow: 0 0 0 1px #111 inset;
	color: #111;
}
button:nth-of-type(2):active {
	color: #999;
}
button:disabled {
	/*opacity: .65;*/
	background: #ddd;
	box-shadow: none;
	color: #999;
	cursor: not-allowed;
}
/*button:disabled:after {
	display: block;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	margin-top: 10px;
	content: attr(data-validation);
	font-size: 11px;
	text-align: center;
}*/
.submitted {
	background: #efefef;
	outline: none;
	cursor: default;
}
button:nth-of-type(2).submitted {
	background: white;
}

.submitted:after {
	display: block;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	height: 100%;
	width: 100%;
	background: #efefef url(../images/dancing-farley.gif) no-repeat center bottom;
	background-size: 40px;
	border-radius: 3px;
	content: "";
}
@media screen and ( max-width: 600px ) {
	button {
		width: 100%;
		max-width: 400px;
		margin: auto;
	}
	button:nth-of-type(2) {
		margin-top: 1.5rem;
		margin-left: 0;
	}
}

footer {
	max-width: 380px;
	margin: auto;
	padding-top: 3rem;
	font-size: 14px;
	color: #666;
	text-align: center;
}

@media screen and ( max-width: 600px ) {
	footer {
		padding-left: .5rem;
		padding-right: .5rem;
		text-align: left;
	}
}

footer strong {
	color: #111;
	font-size: 15px;
}
footer small {
	font-size: 13px;
}

/*** draft list ***/
#draft-list {
	display: none;
	position: fixed;
	top: -100%;
	left: 0;
	z-index: 3;
	opacity: 0;
	height: 100%;
	width: 100%;
	background: white;
	padding: 1.5rem;
}
#draft-list.shown {
	animation: slideDown .25s ease-in-out;
	display: block;
	top: 0;
	opacity: 1;
}
#draft-list h2 {
	/*display: inline-block;*/
	max-width: 380px;
	margin: auto auto 1rem;
	/*padding-bottom: 1rem;
	border-bottom: 5px solid #ccc;*/
	color: #111;
	font-size: 20px;
	font-weight: bold;
	line-height: 1.2;
	/*text-align: center;*/
	text-transform: capitalize;
}
#draft-list h2:after {
	content: ":";
}
/*#draft-list h2:after {
	display: block;
	height: 1px;
	width: 100px;
	background: #ccc;
	margin: 5px auto auto;
	content: "";
}*/
#draft-list span {
	display: block;
	max-width: 380px;
	margin: auto;
	padding: 1rem 0 .85rem;
	/*color: #111;
	font-size: 20px;
	font-weight: normal;*/
	/*text-align: center;*/
}
#draft-list span:empty {
	display: none;
}
#draft-list em {
	cursor: pointer;
	float: right;
	font-style: normal;
	text-decoration: underline;
}
#draft-list span:nth-of-type(n+2) {
	border-top: 1px solid #ccc;
}
#draft-list a:hover, #draft-list em:hover {
	text-decoration: none;
}
#draft-list button {
	position: absolute;
	bottom: 1.5rem;
	right: 1.5rem;
	width: auto;
}

@media screen and ( max-width: 600px ) {
	#draft-list span,
	#draft-list h2 {
		max-width: 100%;
	}
	
}

#success {
	position: fixed;
	top: 2rem;
	left: 0;
	z-index: 2;
	width: 100%;
	text-align: center;
}
#success p {
	display: inline-block;
	background: #f9edbe;
	padding: 10px 15px;
	border-radius: 3px;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.125) inset,
	2px 2px 0 rgba(0, 0, 0, 0.125);
}

@keyframes slideDown {
	0% {
		display: none;
		top: -100%;
		opacity: 0;
	}
	100% {
		display: block;
		top: 0;
		opacity: 1;
	}
}



